$white:    #fff !default;
$gray-100: #F7FAFC !default;
$gray-200: #EDF2F7 !default;
$gray-300: #E2E8F0 !default;
$gray-400: #CBD5E0 !default;
$gray-500: #A0AEC0 !default;
$gray-600: #718096 !default;
$gray-700: #4A5568 !default;
$gray-800: #2D3748 !default;
$gray-900: #1A202C !default;
$black:    #000 !default;

$blue:    #0366D6 !default;
$indigo:  #5A67D8 !default;
$purple:  #805AD5 !default;
$pink:    #D53F8C !default;
$red:     #E53E3E !default;
$orange:  #DD6B20 !default;
$yellow:  #ECC94B !default;
$green:   #48BB78 !default;
$teal:    #38B2AC !default;
$cyan:    #17a2b8 !default;

$primary:       $blue !default;

$enable-caret:                                false !default;
$enable-rounded:                              false !default;
$enable-shadows:                              false !default;
$enable-gradients:                            false !default;
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   false !default;
$enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true !default;
$enable-pointer-cursor-for-buttons:           false !default;
$enable-print-styles:                         false !default;
$enable-responsive-font-sizes:                false !default;
$enable-validation-icons:                     false !default;
$enable-deprecation-messages:                 false !default;

$body-bg:                   $gray-200 !default;
$body-color:                $gray-600 !default;

$link-decoration:                         none !default;
$link-hover-decoration:                   none !default;
$emphasized-link-hover-darken-percentage: 15% !default;

$grid-breakpoints: (
  xs: 0,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
) !default;

$container-max-widths: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
) !default;

$border-width:                0 !default;
$border-color:                none !default;

$border-radius:               .5rem !default;
$border-radius-lg:            .5rem !default;
$border-radius-sm:            .5rem !default;

$font-family-sans-serif:      "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
